body {
	background-color: #282931;
	color: #F0F2C6
}
h1 {
	color: #C7160D;
	font-family: 'Courier Prime', monospace, 'Questrial', sans-serif, 'Zilla Slab', serif;
	text-align: center;
	font-size: 3.375em;
}
h2 {
	color: #E3A6A6;
	font-family: 'Courier Prime', monospace, 'Questrial', sans-serif, 'Zilla Slab', serif;
	text-align: center;
}
p {
	font-family: 'Courier Prime', monospace, 'Questrial', sans-serif, 'Zilla Slab', serif;
}
img.align-left {
	float: left;
	margin-right: 10px;
}
img.align-right {
	float: right;
	margin-left: 10px;
}
figcaption {
	color: #E3A6A6;
	text-align: right;
	font-size: 5.063em;
}
h1 {
	
}
header {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 10px;
	z-index: 10;
	background-image: url("dl_images/Platoari.jpg");
}
#nav {
	padding: 10px;
	margin: 10px;
	text-align: center;
}
li {
	display: inline;
	padding: 5px;
}
body {
	margin-top: 275px;
}
